<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Tailwind</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
</head>
<body class="bg-gray-900 flex items-center justify-center h-screen">
    <div class="text-center">
        <h1 class="text-5xl font-bold text-white mb-4">Deu Certo! ✅</h1>
        <p class="text-xl text-teal-400">Seu projeto Django com Tailwind está no ar.</p>
    </div>
</body>
</html>